<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main}">
<head>
  <meta charset="UTF-8">
  <title>Edit user</title>
</head>
<body>
<section layout:fragment="content">
  <div class="container">
    <div class="card">
      <div class="card-header">
        Edit user
      </div>
      <div class="card-body">
        <form th:action="@{/users/{id}/update(id=${userEdit.id})}" method="post" th:object="${userEdit}">
          <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" name="username" th:field="*{username}" class="form-control" id="username" placeholder="use1">
          </div>
          <div class="mb-3">
            <label for="username" class="form-label">Email</label>
            <input type="email" name="email" th:field="*{email}" class="form-control" id="email" placeholder="email@gmail.com">
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
          <a class="btn btn-info" href="/users">Back</a>
        </form>
      </div>
    </div>
  </div>

</section>
</body>
</html>